.checkout {
  padding-top: 80px;
  padding-bottom: 60px;
}

.checkout h6 {
  color: #999999;
  text-align: center;
  background: #f5f5f5;
  border-top: 1px solid #6ab963;
  padding: 12px 0 12px;
  margin-bottom: 75px;
}

.checkout h6 span {
  font-size: 16px;
  color: #6ab963;
  margin-right: 5px;
}

.checkout h6 a {
  text-decoration: underline;
  color: #999999;
}

.checkout__form h4 {
  color: #1c1c1c;
  font-weight: 700;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.checkout__form p {
  column-rule: #000000;
}

.checkout__input {
}

.checkout__input p {
  color: #1c1c1c;
  margin-top: 15px;
}

.checkout__input p span {
  color: #dd2222;
}

.checkout__input input {
  width: 100%;
  height: 46px;
  border: 1px solid #ebebeb;
  padding-left: 20px;
  font-size: 16px;
  color: #000000;
  border-radius: 4px;
}

.checkout__input select {
  width: 100%;
  height: 46px;
  border: 1px solid #ebebeb;
  padding-left: 20px;
  font-size: 16px;
  color: #000000;
  border-radius: 4px;
}

.checkout__input input.checkout__input__add {
  margin-bottom: 10px;
}

.checkout__input input::placeholder {
  color: #b2b2b2;
}

.checkout__input__checkbox {
  margin-bottom: 10px;
}

.checkout__input__checkbox label {
  position: relative;
  font-size: 16px;
  color: #1c1c1c;
  padding-left: 25px;
  cursor: pointer;
}

.checkout__input__checkbox label input {
  position: absolute;
  visibility: hidden;
}

.checkout__input__checkbox label input:checked ~ .checkmark {
  background: #f9b20f;
  border-color: #f9b20f;
}

.checkout__input__checkbox label input:checked ~ .checkmark:after {
  opacity: 1;
}

.checkout__input__checkbox label .checkmark {
  position: absolute;
  left: 0;
  top: 4px;
  height: 16px;
  width: 14px;
  border: 1px solid #a6a6a6;
  content: "";
  border-radius: 4px;
}

.checkout__input__checkbox label .checkmark:after {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 10px;
  height: 8px;
  border: solid white;
  border-width: 3px 3px 0px 0px;
  -webkit-transform: rotate(127deg);
  -ms-transform: rotate(127deg);
  transform: rotate(127deg);
  content: "";
  opacity: 0;
}

.checkout__order {
  background: #f5f5f5;
  padding: 40px;
  padding-top: 30px;
}

.checkout__order h4 {
  color: #1c1c1c;
  font-weight: 700;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.checkout__order .checkout__order__products {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 10px;
}

.checkout__input input {
  margin-bottom: 10px;
}
.checkout__form {
  align-items: center;
  justify-content: center;
}

.checkout__form .row {
  align-items: center;
  justify-content: center;
}

.site-btn {
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding: 13px 30px 12px;
  /*background: #F9B20F;*/
  background: #ba1319;
  border: none;
  letter-spacing: 2px;
  margin: 20px;
}

.list {
  margin-top: 10px;
}
.paper {
  
  padding: 10px;
  background-color: #f2efef;
  margin-top: 10px;
  width: 500px;
}
.list li:hover {
  background-color: #50d8af;
  color: #ffffff;
  width: 100%;
}
.list  li {
  list-style-type: none;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 10px;
}
.inputBox {
  border: 1px dotted #000000;
  outline: 0;
  height: 50px;
  width: 500px;
  padding: 10px;
}

.hr1 {
  border: 0px;
  height: 1px;
  background: rgb(3, 3, 3);
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-top: 0px;
  margin-bottom: 0px;
}

.hr {
  border: 0px;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-top: 0px;
  margin-bottom: 0px;
}
